# UPS Values
ups_image: " docker.io/aerogear/unifiedpush-wildfly"
ups_image_tag: "1.3.1.no-auth.Final"
ups_port: 8080
ups_proxy_port: 4180

# Non global constants
postgres_image: docker.io/centos/postgresql-96-centos7
postgres_image_tag: '9.6'
postgres_database_name: unifiedpush

# Sidecar Image values
ups_sidecar_image: "docker.io/aerogear/ups-config-operator"
ups_sidecar_image_tag: "master"

# OAuth Proxy values
proxy_image: "docker.io/openshift/oauth-proxy"
proxy_image_tag: "v1.1.0"
