apiVersion: v1
kind: Secret
metadata:
  name: "{{ clientId }}-binding-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "{{ clientId }}-binding-secret"
    secretType: mobile-client-binding-secret
    mobile: enabled
stringData:
  appType: "{{ type }}"
  clientId: "{{ clientId }}"
  googleKey: "{{ googlekey }}"
  projectNumber: "{{ projectNumber }}"
  variantReferenceId: "{{ variant_reference_id.stdout }}"