apiVersion: v1
kind: Secret
metadata:
  name: {{ app }}-binding-secret
  namespace: {{ namespace }}
  labels:
    name: {{ app }}-binding-secret
    secretType: mobile-client-binding-secret
    mobileClient: {{ app }}
    mobile: enabled
stringData:
  appType: {{ type }}
  googleKey: {{ googlekey }}