apiVersion: v1
kind: Secret
metadata:
  name: {{ variantName }}-binding-secret
  namespace: {{ namespace }}
  labels:
    name: {{ variantName }}-binding-secret
    secretType: mobile-client-binding-secret
    mobile: enabled
stringData:
  appType: {{ type }}
  googleKey: {{ googlekey }}
  projectNumber: {{ projectNumber }}