apiVersion: v1
kind: Secret
metadata:
  name: "{{ CLIENT_ID }}-binding-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "{{ CLIENT_ID }}-binding-secret"
    secretType: mobile-client-binding-secret
    mobile: enabled
stringData:
  appType: "{{ CLIENT_TYPE }}"
  clientId: "{{ CLIENT_ID }}"
  passphrase: "{{ passphrase }}"
  cert: "{{ cert }}"
  isProduction: "{{ iosIsProduction }}"
  serviceBindingId: "{{ _apb_service_binding_id }}"
