apiVersion: v1
kind: Secret
metadata:
  name: "{{ CLIENT_NAME }}-binding-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "{{ CLIENT_NAME }}-binding-secret"
    secretType: mobile-client-binding-secret
    mobile: enabled
stringData:
  appType: "{{ type }}"
  clientId: "{{ CLIENT_NAME }}"
  passphrase: "{{ passphrase }}"
  cert: "{{ cert }}"
