apiVersion: v1
kind: Secret
metadata:
  name: {{ ups_secret_name }}
  namespace: {{ namespace }}
  labels:
    name: ups
    mobile: enabled
    serviceName: ups
stringData:
  type: "{{ ups_secret_name }}"
  name: "{{ ups_secret_name }}"
  uri: "{{ ups_protocol}}://{{ ups_route.route.spec.host }}"
  applicationId: "{{ namespace_push_app.json.pushApplicationID }}"