apiVersion: v1
kind: Secret
metadata:
  name: {{ ups_secret_name }}
  namespace: {{ namespace }}
  labels:
    name: ups
    mobile: enabled
stringData:
  type: {{ ups_secret_name }}
  name: {{ ups_secret_name }}
  mysql_username: {{ MYSQL_USER }}
  mysql_password: {{ MYSQL_PASSWORD }}
  mysql_db: {{ MYSQL_DATABASE }}
  uri: http://{{ ups_route.stdout }}
  applicationId: "{{ namespace_push_app.json.pushApplicationID }}"