apiVersion: v1
kind: Secret
metadata:
  name: {{ ups_secret_name }}
  namespace: {{ namespace }}
  labels:
    name: ups
    mobile: enabled
    serviceName: ups
    serviceInstanceID: {{ _apb_service_instance_id }}
stringData:
  type: "{{ ups_secret_name }}"
  name: "{{ ups_secret_name }}"
  uri: "{{ ups_protocol}}://{{ ups_route }}"
  ups_auth_token: "{{ auth_token }}"
  applicationId: "{{ namespace_push_app.json.pushApplicationID }}"