apiVersion: v1
kind: Secret
metadata:
  name: {{ ups_secret_name }}
  namespace: {{ namespace }}
  labels:
    name: ups
    mobile: enabled
stringData:
  type: {{ ups_secret_name }}
  name: {{ ups_secret_name }}
  uri: http://{{ ups_route.route.spec.host }}
  applicationId: "{{ namespace_push_app.json.pushApplicationID }}"